# ====================
# Java
# ====================
*.class
*.log
*.jar
*.war
*.ear

# ====================
# Maven
# ====================
target/
!src/main/resources/
!src/test/resources/

# ====================
# Spring Boot
# ====================
*.iml
spring.log

# ====================
# IntelliJ IDEA
# ====================
.idea/
*.iws
*.iml
*.ipr
out/

# ====================
# Eclipse
# ====================
.project
.classpath
.settings/
bin/

# ====================
# VS Code
# ====================
.vscode/

# ====================
# OS-specific
# ====================
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# ====================
# Logs
# ====================
*.log

# ====================
# Environment Files
# ====================
.env
.env.*
